Repository GentenStudios/quartz-engine, pull requests merged in 2019-03, with the labels that each got.

#86 Add discord link to read me for public access
  README.md
Labels: improvement

#87 Make logger generate newline at EOL
  engine/source/include/quartz/core/utilities/Logger.hpp
  engine/source/src/core/utilities/Logger.cpp
Labels: client, engine, improvement, priority-medium

#93 Fix bug #92 - Prevent ImGui from taking control of the mouse cursor
  engine/source/src/core/platform/SDLGuiLayer.cpp
Labels: bug, engine
